/* RESET */
*{
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*::-webkit-scrollbar{
	display: none;
}
*:before, *:after {
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
	text-decoration: none;
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: 'seoulNamsanB';
}
html,
body {
  -ms-overflow-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, button,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
select, option,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	outline: 0;
    font-family: 'seoulNamsanB';
	font-size: 100%;
	color: #1d2123;
	vertical-align: baseline;
  line-height: 1.1;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, button{
	color: #222;
	cursor: pointer;
}

/* FONT */
main {
  font-size: 1.4rem;
}
h1 {
  font-size: 8rem;
  font-weight: 600;
}
h2 {
  font-size: 2.8rem;
  font-weight: 600;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  word-break: break-all;
}


/* COMMON */
html, body{
  font-size: 62.5%;
  background: #ddd;
  padding: 1vh 0;
}
main{
  width: 80vw;
  margin: 5vh auto;
  padding: 5rem;
  background: #fff;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.flex .item {
  min-width: 180px;
  flex-basis: calc(calc(540px - 100%)*1000000);
  flex-grow: 1;
  flex-shrink: 1;
}


/* TItle Box */
.titleBox {
  align-items: baseline;
  margin-bottom: 40vh;
}
.titleBox h1 {
  margin-bottom: 2rem;
}

/* Graph Box */
.graph {
  padding: 3rem 0;
  background: #efefef;
  text-align: center;
}

/* Recommend Box */
.graph, p{
  margin: 1rem 0;
}
.asymmetric .item.ratio30{
  flex-basis: auto;
  width: 32%;
}
.asymmetric .item.ratio70{
  flex-basis: auto;
  width: 66%;
}

/* Sections */
section {
  margin-bottom: 6rem;
}
section h2{
  margin-bottom: 1rem;
}

@media screen and (max-width:768px){
  .symmetric .item *:last-child,
  .asymmetric .item *:last-child{
    margin-bottom: 0;
  }
  .asymmetric .item{
    width: 100% !important;
  }
}