@import url(templateReset.css);
@import url(templateFont.css);

/* PDF STYLE */
html.pdf, html.pdf body{font-size:175%;}
.pdf .page{
  width: 2480px;
  height: 3508px;
}

/* COMMON */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
html, body{font-size: 62.5%;}

.flexCol {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
.flexRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.item {
  min-width: 150px;
  flex-basis: calc(calc(20px - 100%)*1000000);
  flex-shrink: 1;
}
.ratio15{width: 14.5%;}
.ratio20{width: 20.5%;}
.ratio30{width: 31.5%;}
.ratio50{width: 48.5%;}
.ratio70{width: 65.5%;}
.ratio80{width: 76.5%;}
.ratio85{width: 82.5%;}



/* PAGE LAYOUT */
.graph, p{
  margin: 0.6rem 0;
}
main{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.page {
  width: 50%;
  padding: 4rem 6.8rem;
  border: 1px solid red;
}
.page > section:not(:last-child) {
  margin-bottom: 7rem;
}
h5{
  margin-bottom: 3rem;
  line-height: 1.4;
}


/* TITLE BOX */
.page:nth-child(even) .titleBox{margin-bottom: 3rem;}
.page:nth-child(even) .titleBox strong{color: transparent;}
.page:nth-child(even) .titleBox .pageNum{margin-left: auto;}
.titleBox strong{
  display: block;
  border-bottom: 1px solid rgb(34, 30, 31);
}
.pageNum{
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 1.5rem 0 0.6rem 0;
  padding: 0.45rem 0;
  background: rgb(220, 230, 231);
  border-radius: 10rem;
  text-align: center;
}
.titleBox h3{
  margin: 5rem 0 3rem 0;
}
.titleBox .title{
  display: flex;
  justify-content: start;
}
.times{
  margin-left: 0.8rem;
}



/* TABLE OF CONTENT */
.tableContBox {
  /* position: relative; */
}
.tableContList {
  width: fit-content;
  margin-left: auto;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}
.tableContList h3{
  margin: 40rem 0 3rem;
}
.tableContList ol{
  list-style:upper-latin inside;
}
.tableContList ol li {
  margin-bottom: 2.2rem;
}



/* RESULT BOX */
.resultBox{
  width: 100%;
  display: flex;
}
.resultBox > .item{
  flex-basis: auto;
}
.profileBox{
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.profileImg img{
  width: 100%;
}



/* TYPE BOX */
.typeBox ul {gap: 3%;margin-bottom: 1.5rem;}
.typeBox ul .item{flex-grow: 1;}
.typeBox p small{
  display: block;
  margin-bottom: 1.3rem;
}
.typeBox h6{
  margin-bottom: 1.5rem;
}



/* ADD CONTENT */
.addContent > .item {
  flex-basis: auto;
}


.graph {
  padding: 3rem 0;
  text-align: center;
}

@media screen and (max-width:1800px){
  .ratio30, .ratio70{width: 100%;}
}
@media screen and (max-width:1200px){
  .page{width: 100%;}
  .ratio20, .ratio30, .ratio50,
  .ratio70, .ratio80{width: 100%;}
}
@media screen and (max-width:600px){
  .ratio15, .ratio85{width: 100%;}
  .profileBox h6{
    text-align: center;
    margin-bottom: 2rem;
  }
}